html {
  font-size: 5vmin;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}

canvas {
  display: block;
}

.layer__start-screen {
  position: absolute;
  z-index: 10;
  background-color: red;

  .logo {
    font-family: 'Saira', sans-serif;
    letter-spacing: 3rem;
    text-align: center;
  }

  .wrapper {
    align-items: center;

    .ready {
      &__text {
      }
      &__button {
        background-color: blue;
      }
    }
    .model {
    }
  }
}
